@media (max-width: 576px) {

    .table td,
    .table th {
        font-size: 14px;
        vertical-align: middle;
    }

    img.img-fluid {
        width: 60px !important;
        height: 60px !important;
    }

    .form-control {
        font-size: 14px;
    }
}